{% extends 'base.html' %} {% load static %} {% load hastag %} {% block content %}
<div
    xmlns:show="http://show.org/show/"
    xmlns:pred="http://shows.org/pred/"
    typeof="pred:people"
>
    <div class="mt-2 mb-5">
        <h1 class="text-center" property="pred:name">{{name}}</h1>
    </div>
    {% if directorof %}
    <div class="mt-2 mb-5">
        <h3>Director In</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Type</th>
                    <th scope="col">Others Directors</th>
                </tr>
            </thead>
            <tbody>
                {% for title, show in directorof.items %}
                <tr class="align-middle" property="pred:director" typeof="show:Show">
                    <td class="col-4">
                        <a
                            class="btn btn-outline-dark w-100"
                            href="{% url 'show' %}?title={{title|hastag}}"
                            property="pred:title"
                            >{{title}}</a
                        >
                    </td>
                    <td class="col-2">
                        <p class="text-center" property="pred:type">
                            {{show.type}}
                        </p>
                    </td>
                    <td class="col-6">
                        {% if show.directors %} {% for person in show.directors %}
                        <a
                            class="btn btn-outline-dark mb-1"
                            href="{% url 'person' %}?name={{person}}"
                            property="pred:director"
                            typeof="pred:people"
                            ><span property="pred:name">{{person}}</span></a
                        >
                        {% endfor %} {% else %}
                        <p>--------------------------</p>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %} {% if castof %}
    <div class="mt-2">
        <h3>Actor In</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Type</th>
                    <th scope="col">Others Actors</th>
                </tr>
            </thead>
            <tbody>
                {% for title, show in castof.items %}
                <tr class="align-middle" property="pred:director" typeof="show:Show">
                    <td class="col-4">
                        <a
                            class="btn btn-outline-dark w-100"
                            href="{% url 'show' %}?title={{title|hastag}}"
                            property="pred:title"
                            >{{title}}</a
                        >
                    </td>
                    <td class="col-2">
                        <p class="text-center" property="pred:type">
                            {{show.type}}
                        </p>
                    </td>
                    <td class="col-6">
                        {% if show.cast %} {% for person in show.cast %}
                        <a
                            class="btn btn-outline-dark mb-1"
                            href="{% url 'person' %}?name={{person}}"
                            property="pred:cast"
                            typeof="pred:people"
                            ><span property="pred:name">{{person}}</span></a
                        >
                        {% endfor %} {% else %}
                        <p>--------------------------</p>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}
