{% extends 'base.html' %}
{% load static %}
{% load hastag %}
{% block content %}
<div
    xmlns:show="http://show.org/show/"
    xmlns:pred="http://shows.org/pred/"
    typeof="show:Show"
>
    <div class="mt-2 mb-5">
        <h1 class="text-center" property="pred:title">{{title}}</h1>
    </div>

    <div class="mt-5 mb-5">
        <h5>Abstract:</h5>
        <p class="text-justify" property="pred:abstract">{{details.abstract}}</p>
        <a href="{{details.db_link}}">{{details.db_link}}</a>
        <br><br><br>
        <h5>Show type:</h5>
        <p class="text-justify" property="pred:abstract">{{details2.show_type}}</p>
        <h5>Publicatio Date:</h5>
        <p class="text-justify" property="pred:abstract">{{details2.publicatioDate}}</p>
        <h5>Awards:</h5>
        <ul>
        {% for award in details2.awards %}
            {% if award != "" %}
                <li class="text-justify" property="pred:abstract">{{award}}</li>
            {% endif %}
        {% endfor %}
        </ul>
        <h5>Awards:</h5>
        <ul>
        {% for genre in details2.genres %}
            {% if genre != "" %}
                <li class="text-justify" property="pred:abstract">{{genre}}</li>
            {% endif %}
        {% endfor %}
        </ul>
        <a href="{{details2.wiki_link}}">{{details2.wiki_link}}</a>
    </div>

    <div class="mt-2">
        {% if show %}
            <table class="table">
                <tbody class="fs-5">
                    <tr class="align-middle">
                        <th class="col-3">Type</th>
                        <td class="col-9" property="pred:type">{{show.type}}</td>
                    </tr>
                    <tr class="align-middle">
                        <th class="col-3">Countries</th>
                        <td class="col-9">
                        {% for country in show.countries %}
                            <span class="badge rounded-pill bg-dark" property="pred:coutry">{{country}}</span>
                        {% endfor %}
                        </td>
                    </tr>
                    <tr class="align-middle">
                        <th class="col-3">Description</th>
                        <td class="col-9" property="pred:description">{{show.description}}</td>
                    </tr>
                    <tr class="align-middle">
                        <th class="col-3">Date Added to Netflix</th>
                        <td class="col-9" property="pred:date_added">{{show.date_added}}</td>
                    </tr>
                    <tr class="align-middle">
                        <th class="col-3">Release Year</th>
                        <td class="col-9" property="pred:release_year">{{show.release_year}}</td>
                    </tr>
                    <tr class="align-middle">
                        <th class="col-3">Duration</th>
                        <td class="col-9" property="pred:duration">{{show.duration}}</td>
                    </tr>
                    <tr class="align-middle">
                        <th class="col-3">Listed In</th>
                        <td class="col-9">
                        {% for l in show.listed_in %}
                            <span class="badge rounded-pill bg-dark" property="pred:listed_in">{{l}}</span>
                        {% endfor %}
                        </td>
                    </tr>
                    {% if show.directors %}
                    <tr class="align-middle">
                        <th class="col-3">Directors</th>
                        <td class="col-9">
                        {% for person in show.directors %}
                            <a
                                class="btn btn-outline-dark mb-1"
                                href="{% url 'person' %}?name={{person}}"
                                property="pred:director"
                                typeof="pred:people"
                                ><span property="pred:name">{{person}}</span></a
                            >
                        {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                    {% if show.cast %}
                    <tr class="align-middle">
                        <th class="col-3">Cast</th>
                        <td class="col-9">
                        {% for person in show.cast %}
                            <a
                                class="btn btn-outline-dark  mb-1"
                                href="{% url 'person' %}?name={{person}}"
                                property="pred:cast"
                                typeof="pred:people"
                                ><span property="pred:name">{{person}}</span></a
                            >
                        {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        {% else %}
        <div class="alert alert-danger" role="alert">No Data Founded!</div>
        {% endif %}
    </div>

    <div class="mt-2">
        <a
            class="btn btn-danger w-100"
            href="{% url 'edit_show' %}?title={{title|hastag}}"
            role="button"
            >Edit</a
        >
    </div>
</div>
{% endblock %}
